
@font-face {
	font-family: 'neuron_heavy';
	src: url('../fonts/neuron/Neuron Heavy.eot');
	src: local('☺'), url('../fonts/neuron/Neuron Heavy.woff') format('woff'), url('../fonts/neuron/Neuron Heavy.ttf') format('truetype'), url('../fonts/neuron/Neuron Heavy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
